<form class="max-w-[500px] flex flex-col gap-3 shrink-0">
  <!-- <label
    for="password"
    class="block text-sm font-medium leading-6 text-gray-900"
  >
    Password
  </label>
  <input
    type="password"
    name="password"
    id="password"
    class="block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    placeholder="Your password"
    [formControl]="password"
  /> -->
  <app-input [formControl]="password" />
  <ul
    [ngClass]="[
      !password.valid && password.dirty ? 'text-red-600' : 'text-gray-400'
    ]"
  >
    <li
      *ngFor="
        let level of passwordStrengthLevels;
        trackBy: passwordService.getStrengthLevelId
      "
      [ngClass]="[!password.hasError('minlegth') ? passwordService.getLevelClass({ level, password }) : '']"
    >
      {{ level.name }}
    </li>
  </ul>
  <div>
    <app-button
      (clickEvent)="save()"
      [config]="{
        label: 'Save',
        disabled: !password.valid
      }"
    />
    <app-button [config]="{ label: 'Reset' }" (clickEvent)="reset()" />
  </div>
</form>
