<form [ngClass]="['flex flex-col gap-3', class]">
  <div class="w-full">
    <app-input [formControl]="password" />
  </div>
  <app-password-strength-list
    [password]="password"
    [passwordStrengthLevels]="passwordStrengthLevels"
  />
  <div>
    <app-button
      (clickEvent)="save()"
      [config]="{
        label: passwordProcessStatus === 'SAVING' ? 'Processing...' : 'Save',
        disabled: !password.valid
      }"
    />
    <app-button
      [config]="{
        label: 'Reset'
      }"
      (clickEvent)="reset()"
    />
  </div>
</form>
