<form class="max-w-[350px] flex flex-col gap-3 shrink-0">
  <label
    for="password"
    class="block text-sm font-medium leading-6 text-gray-900"
  >
    Password
  </label>
  <input
    type="password"
    name="password"
    id="password"
    class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    placeholder="Your password"
    [formControl]="password"
  />
  <ul
    class=" {{
      !password.valid && password.dirty ? 'text-red-600' : 'text-gray-400'
    }}"
  >
    @for (level of passwordStrengthLevels; track level.id) {
    <li
      class="{{
        password.valid
          ? 'text-green-700'
          : level.isActive && !password.hasError('minlength') && password.dirty
          ? 'text-yellow-500'
          : ''
      }}"
    >
      {{ level.name }}
    </li>
    }
  </ul>
  <div>
    <button
      type="button"
      [disabled]="!password.valid"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 self-start disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="save()"
    >
      Save
    </button>
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 self-start disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="reset()"
    >
      Reset
    </button>
  </div>
</form>
